<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}School Management System{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    {% block head %}{% endblock %}
</head>
<body>
    
    <header>
         {% include "header.html" %}
        <!--<nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <!-->
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© {{ year }} My Website. All rights reserved.</p>
    </footer>
    
    {% block scripts %}
    <script src="/static/js/client.js"></script>
    {% endblock %}
</body>
</html>
