{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Welcome to this School Management System</h1>
    <p class="lead">This is a simple school management system which display CRUD capabilities as well as 
        a knowledge of javascript, css, html and sql.</p>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <h2>Login & Logout</h2>
            <p>Authenticates the user before they are allowed to access anything else.</p>
        </div>
        <div class="col-md-4">
            <h2>CRUD</h2>
            <p>Create, Read, Update and Delete Records from Student, Lecturers or courses.</p>
        </div>
    </div>
</div>
{% endblock %}
